{% extends 'base/base.html' %}
{% block title %} Alquileres
{% endblock %}
{% block content %}
    <div class="row">
        {% if propiedades %}
            {% for propiedad in propiedades %}
                <div class="col-md-6">
                    <div class="card text-center customMargin">
                        <div class="card-header">
                            {{ propiedad.titulo }}
                        </div>
                        <div class="card-body">
                            <img class="card-img-top" src="{{ propiedad.imagen.url }}" alt="Imagen de la propiedad">
                            <p class="card-text">{{ propiedad.descripcion }}</p>
                            <a href="{% url 'alquileres:dpto' propiedad.id %}" class="btn btn-primary">Ir a la Publicacion</a>
                        </div>
                        <div class="card-footer text-muted">
                            <span style="color:black;font-weight:bold"> <i
                                    class="fa fa-map-marker"></i></span> {{ propiedad.ciudad.nombre }} -
                            <span style="color:black;font-weight:bold"> <i
                                    class="fa fa-user-circle-o"></i></span> {{ propiedad.maximoHabitantes }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Do oh!</h4>
                <p>No hay propiedades disponibles actualmente</p>
                <hr>
                <p class="mb-0">Lo sentimos pero no hay propiedades actualmente en el sistema.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    </div>
    <style>
        .customMargin {
            margin: 10px;
        }

        img {
            width: 100%;
            max-width: 300px;
            max-height: 300px;
        }

    </style>

{% endblock %}
