{% extends 'base/base.html' %}
{% block title %} Alquileres
{% endblock %}
{% block header %}
    <div class="container">
    <nav class="navbar justify-content-center navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">Alquileres Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>



{% endblock %}
{% block content %}
    <div class="row">
        {% if propiedades %}
            {% for propiedad in propiedades %}
                <div class="col-md-6">
                    <div class="card text-center customMargin">
                        <div class="card-header">
                            {{ propiedad.titulo }}
                        </div>
                        <div class="card-body">
                            <img class="card-img-top" src="{{ propiedad.imagen.url }}" alt="imagen de la propiedad">
                            <p class="card-text">{{ propiedad.descripcion }}</p>
                            <a href="#" class="btn btn-primary">Ir a la Publicacion</a>
                        </div>
                        <div class="card-footer text-muted">
                           <span style="color:black;font-weight:bold"> Ciudad: </span> {{ propiedad.ciudad.nombre }}  - <span style="color:black;font-weight:bold"> Habitantes: </span> {{ propiedad.maximoHabitantes }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Do oh!</h4>
                <p>No hay propiedades disponibles actualmente</p>
                <hr>
                <p class="mb-0">Lo sentimos pero no hay propiedades actualmente en el sistema.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    </div>
    <style>

    .customMargin {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}
