{% extends 'base/base.html' %}
{% block title %} Alquileres
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        {% if dpto %}
            <div class="col-mx-auto">
                <img class="card-img-top changeImageSize customMargin" src="{{ dpto.imagen.url }}"
                     alt=" imagen de la propiedad">
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-mx-auto">
                    <h4 class="customMargin">{{ dpto.titulo }}</h4>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h4>Descripción: {{ dpto.descripcion }}</h4>
                    <h4>Maximo nuemero de Habitantes: {{ dpto.maximoHabitantes }}</h4>
                </div>
                <div class="col-md-6">
                    <h4>Ciudad: {{ dpto.ciudad }}</h4>
                    <h4>Nombre del Propietario: {{ dpto.usuario }}</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-mx-auto">
                    <a href="{% url 'alquileres:form' dpto.id %}" class="btn btn-primary">Reservar ahora</a>
                </div>
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Do oh!</h4>
                <p>Ha ocurrido un problema cargando esta propiedad</p>
                <hr>
                <p class="mb-0">Por favor intente nuevamente mas tarde.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    </div>
    <style>

        .customMargin {
            margin: 10px;
        }

        .changeImageSize {
            max-width: 600px;
            max-height: 600px;
        }
    </style>
{% endblock %}
